.App {
  margin: 10px 10px;
}
.search {
  position: relative;
  left: 40%;
}
.search button {
  margin-left: 40%;
}

.anime {
  justify-content: center;
  text-align: center;
}

table,
th,
td {
  border: 1.5px solid black;
  padding: 6px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

tr:hover {
  background-color: rgba(238, 238, 21, 0.714);
}
