.App {
  margin: 10px 10px;
}
.search {
  display: flex;

  margin: auto;
  width: 30%;
  border: none;
}
span {
  display: block;
  text-align: center;
}
.input {
  border-radius: 10px;
}
.submit {
  height: 100%;
  margin-bottom: 17px;
  margin: 7px 10px;
}
.input {
  margin-top: 10px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card_data {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 20%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  width: 100%;
  padding: 20px;
}
a {
  text-decoration: none;
  list-style: none;
}
